* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: visible;
}
body {
  background-color: grey;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  margin: auto;
}
.hide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.hide #clickme {
  color: white;
  text-align: center;
  font-variant: small-caps;
  font-size: 25px;
}
#when {
  padding: 5px;
  flex: 1;
  background-color: hotpink;
  font-weight: bolder;
  color: white;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  /* text-align: center; */
  margin: 5px auto;
}
.dolist.active {
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto 10px;
  padding: 10px;
  position: relative;
  transition: all 1.5s ease;
}
.dolist {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: auto 10px;
  padding: 10px;
  position: relative;
  top: -900px;
  transition: all 2.5s ease-out;
}
#textbox {
  padding: 10px;
  width: 100%;
  background-color: coral;
  font-size: 20px;
  border: 0;
  outline: 0;
}
#addbtn {
  padding: 10px;
  background-color: yellowgreen;
  flex: 1;
  margin: auto;
  font-size: 20px;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
}
#btn {
  padding: 10px;
  background-color: aqua;
  width: 100%;
  margin: auto;
  font-size: 20px;
  outline: 0;
  border: 0;
  cursor: pointer;
}
#date {
  background-color: blue;
  width: 115px;
  height: 40px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
label {
  color: red;
  font-size: 20px;
  float: right;
  margin: auto 10px;
  cursor: pointer;
}
h1 {
  text-align: center;
  font-size: 25px;
  color: green;
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
#listcontent {
  margin: auto;
  position: relative;
  background-color: grey;
  padding: 10px;
  left: auto;
  width: 100%;
}
li {
  color: blue;
  list-style-type: none;
  position: relative;
  left: 15px;
  margin: 10px auto;
  cursor: pointer;
}
li.checked {
  text-decoration: line-through;
  color: red;
}
li.checked::before {
  background-image: url(./checked.png);
  background-color: red;
}

#listcontent li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: gold;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  left: -25px;
}
@media screen and (min-width: 500px) {
  #textbox {
    width: 100%;
    margin: auto;
  }
  #btn {
    width: 100%;
    margin: auto;
  }
  #liscontent {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 5px;
  }
  #dolist {
    width: 70%;
    height: 100%;
    margin: auto;
  }
  body {
    width: 100%;
    height: 100vh;
  }
}
@media screen and (max-width: 450px) {
  #textbox {
    width: 100%;
    margin: auto;
  }
  #btn {
    width: 100%;
    margin: auto;
  }
  #liscontent {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 5px;
  }
  #dolist {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  body {
    width: 100%;
    height: 110vh;
  }
}
